
snippet "func?t?i?o?n?" "Vim function" !rb
" ${2:$1 description}
" Argument: N/A
" Return: {void}
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
function! ${1:Function}()
	${0}
endfunction
endsnippet
