# vim: set ft=sh :
#
# Note that on a mac, you can use the following command to get the password
# from the keychain:
#
# ```
# security find-generic-password -a ${USER} -s NAME_OF_SECRET -w
# ```
# example:
# export DD_API_KEY=$(security find-generic-password -a ${USER} -s datadog_api_key -w)
#
# To set the password in the keychain:
#
# ```
# security add-generic-password -a ${USER} -s NAME_OF_SECRET -w
# ```

# export GITLAB_TOKEN=""
# export DD_GITLAB_URL=""
# export DD_API_KEY=""
# export DD_APP_KEY=""
# export DD_API_KEY_STAGING=""
# export DD_APP_KEY_STAGING=""
# export DD_API_KEY_DEMO=""
# export DD_APP_KEY_DEMO=""
