# vim: set ft=sh :

# export GITLAB_TOKEN=""
# export DD_GITLAB_URL=""
# export DD_API_KEY=""
# export DD_APP_KEY=""
# export DD_API_KEY_STAGING=""
# export DD_APP_KEY_STAGING=""
# export DD_API_KEY_DEMO=""
# export DD_APP_KEY_DEMO=""
